

//- extends layout

//- block content 
//-   .wrapper.all.the.classes
//-   - const upDog = dog.toUpperCase();
//-   p.hello My dog #{upDog}, is a #{breed} named #{dog.toUpperCase()}
//-   span#yo Yoder
//-   img.dog(src="dog.jpg" alt=`${breed}`)

//-   h2 
//-     | Hello 
//-     em How are you?